#ambient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Place le conteneur des bulles derrière les autres éléments */
}

.bvambient_particle {
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #20E73D;
    z-index: 1; /* Place chaque bulle derrière les autres éléments */
}

